/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
	opacity: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
	font-family: 'Special Elite';
	font-style: normal;
	font-weight: 400;
	src: local('Special Elite'), local('SpecialElite-Regular'), url(../img/SpecialElite-Regular.woff) format('woff');
}
@font-face {
	font-family: 'UnifrakturCook';
	font-style: normal;
	font-weight: 700;
	src: local('UnifrakturCook'), local('UnifrakturCook-Bold'), url(../img/UnifrakturCook-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Luckiest Guy';
	font-style: normal;
	font-weight: 400;
	src: local('Luckiest Guy'), local('LuckiestGuy-Regular'), url(../img/LuckiestGuy-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Fontdiner Swanky';
	font-style: normal;
	font-weight: 400;
	src: local('Fontdiner Swanky'), local('FontdinerSwanky'), url(../img/FontdinerSwanky.woff) format('woff');
}
@font-face {
	font-family: 'Black Ops One';
	font-style: normal;
	font-weight: 400;
	src: local('Black Ops One'), local('BlackOpsOne-Regular'), url(../img/BlackOpsOne-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Caesar Dressing';
	font-style: normal;
	font-weight: 400;
	src: local('Caesar Dressing'), local('CaesarDressing-Regular'), url(../img/CaesarDressing-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Cabin Sketch';
	font-style: normal;
	font-weight: 700;
	src: local('CabinSketch Bold'), local('CabinSketch-Bold'), url(../img/CabinSketch-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 700;
	src: local('Orbitron-Bold'), url(../img/Orbitron-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Flavors';
	font-style: normal;
	font-weight: 400;
	src: local('Flavors'), local('Flavors-Regular'), url(../img/Flavors-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Droid Sans Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Droid Sans Mono'), local('DroidSansMono'), url(../img/DroidSansMono.woff) format('woff');
}
@font-face {
	font-family: 'Fredericka the Great';
	font-style: normal;
	font-weight: 400;
	src: local('Fredericka the Great'), local('FrederickatheGreat'), url(../img/FrederickatheGreat.woff) format('woff');
}
html {
	background-color: gray;
}
body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 0;
	overflow: hidden;
	background-color: #FFFFFF;
	font-size: 50px;
}
body
	.fsc_wrapper {
		position: absolute;
		z-index: 1; top: 50%; left: 0; right: 0;
		height: 14em;
		margin: -8em auto auto auto;
		background-color: rgba(255, 255, 255, 0.1);
		-webkit-box-shadow: 0 0 10em 5em rgba(255, 255, 255, 0.1) !important;
		box-shadow: 0 0 10em 5em rgba(255, 255, 255, 0.1) !important;
		text-align: center !important;
		font-family: 'Orbitron';
		color: #000000;
		text-shadow: 0.2em 0.2em 0.8em rgba(0, 0, 0, 1);
	}
body
	.fsc_wrapper
		label {
			display: inline-block;
		}
body
	.fsc_wrapper
		.h12 {
			display: inline-block;
		}
body
	.fsc_wrapper
		.h24 {
			display: none;
		}
body
	.fsc_wrapper
		.time {
			margin: 0.1em auto auto auto;
			height: 1em;
			font-size: 7em;
			line-height: 1.2em;
		}
body
	.fsc_wrapper
		.time
			.am {
				margin-left: 0.5em;
			}
body
	.fsc_wrapper
		.date {
			margin: 0;
			height: 1em;
			font-size: 4em;
			line-height: 1.2em;
		}
body
	.fsc_wrapper
		.date
			.weekday,
body
	.fsc_wrapper
		.date
			.month,
body
	.fsc_wrapper
		.date
			.day,
body
	.fsc_wrapper
		.date
			.year_seperator {
				margin-right: 0.5em;
			}
	/* double digit */
body
	.fsc_wrapper
		.dd {
			width: 1.8em;
			text-align: center;
		}
	/* single digit */
body
	.fsc_wrapper
		.sd {
			width: 0.9em;
			text-align: center;
		}
	/* 24hour mode */
body
	.fsc_wrapper.h24 {
		height: 17em;
		margin-top: -8.5em;
	}
body
	.fsc_wrapper.h24
		.time {
			font-size: 10em;
		}
body
	.fsc_wrapper.h24
		.h12 {
			display: none;
		}
body
	.fsc_wrapper.h24
		.h24 {
			display: inline-block;
		}
	/* no date mode */
body
	.fsc_wrapper.nodate
		.date {
			display: none;
		}
body
	.fsc_wrapper.nodate
		.time {
			margin-top: 0.2em;
			font-size: 10em;
		}
	/* 24hour no date mode */
body
	.fsc_wrapper.nodate.h24
		.time {
			font-size: 12em;
		}
	/* no week day mode */
body
	.fsc_wrapper.noweekday
		.weekday {
			display: none;
		}
body
	.fsc_wrapper.noweekday
		.date {
			font-size: 5em;
		}
/* stop IE from doing shitty shadows */
html.lt-ie10
	.fsc_wrapper {
		background-color: transparent !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
	}
/* control panel */
body
	.modeSwitch {
		position: absolute;
		top: 1em;
		right: 3em;
		font-size: 12px;
	}
body
	.modeSwitch
		a {
			display: inline-block;
			padding: 0.2em 0.3em;
			font-size: 18px;
			color: inherit;
			text-decoration: none;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
		}
body
	.modeSwitch
		a.active {
			border-bottom: 1px solid;
		}
body
	.settingsPanel {
		position: absolute;
		z-index: 3;
		top: 0;
		right: auto;
		bottom: 0;
		left: 100%;
		width: 20em;
		overflow-y: auto;
		overflow-x: hidden;
		margin: 0;
		border-left: 1px solid black;
		border-left: 1px solid rgba(0, 0, 0);
		padding: 1em 4em;
		background-color: white;
		background-color: rgba(255, 255, 255);
		list-style: none;
		font-size: 12px;
		opacity: 0;
	}
body
	.settingsPanel.expanded {
		z-index: 4;
		margin-left: -28em;
		opacity: 1;
	}
body
	.settingsPanel
		li {
			float: left;
			clear: left;
			width: 100%;
			margin-bottom: 1.2em;
		}
body
	.settingsPanel
		li
			.setting_label {
				float: left;
				font-size: 1.7em;
				line-height: 100%;
				font-family: sans-serif;
			}
body
	.settingsPanel
		li.sub
			.setting_label {
				float: left;
				padding-left: 1em;
				font-size: 1em;
				line-height: 100%;
				font-family: sans-serif;
			}
body
	.settingsPanel
		li
			.checkSlide,
body
	.settingsPanel
		li
			.colorPicker,
body
	.settingsPanel
		li
			.slider {
				float: right;
			}
body
	.settingsPanel
		li
			.settingDone {
				display: block;
				width: 50%;
				margin: 2em auto;
			}
/* check slide class */
.checkSlide {
	display: inline-block;
	position: relative;
	height: 2em;
	width: 4em;
	overflow: hidden;
	background-image: url('../img/switch_background.png');
	background-size: 4em 2em;
	background-repeat: no-repeat;
}
.checkSlide .toggler {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	border: 0;
	padding: 0;
	height: 2em;
	width: 2em;
	background-color: transparent;
	background-image: url('../img/switch_toggler.png');
	background-size: 2em 2em;
	background-repeat: no-repeat;
}
.checkSlide .toggler.on {
	left: 2em;
}
/* color slider */
.slider {
	display: inline-block;
	width: 70%;
}
.slider[channel="r"] {
	background: #EE3333;
}
.slider[channel="g"] {
	background: #33EE33;
}
.slider[channel="b"] {
	background: #3333EE;
}
/* to-do list */
#to_do {
	display: inline-block;
	font-size: 12px;
	color: black;
}
#to_do .done {
	text-decoration: line-through;
	color: gray;
}
#to_do .done:hover {
	text-decoration: none;
	color: black;
}
/* signature */
#signature {
	position: absolute;
	bottom: 1em;
	left: 1em;
	font-size: 8px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	  `contenteditable` attribute is included anywhere else in the document.
 *	  Otherwise it causes space to appear at the top and bottom of elements
 *	  that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	  `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min-resolution: 144dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow:none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
