/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	font-size: 50px;
	line-height: 1.4;
	opacity: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
	font-family: 'Special Elite';
	font-style: normal;
	font-weight: 400;
	src: local('Special Elite'), local('SpecialElite-Regular'), url(http://themes.googleusercontent.com/static/fonts/specialelite/v3/9-wW4zu3WNoD5Fjka35Jm4kaQb-UsZVONjobs91YQtw.woff) format('woff');
}
@font-face {
	font-family: 'UnifrakturCook';
	font-style: normal;
	font-weight: 700;
	src: local('UnifrakturCook'), local('UnifrakturCook-Bold'), url(http://themes.googleusercontent.com/static/fonts/unifrakturcook/v5/ASwh69ykD8iaoYijVEU6RgJcki-BsVeC4IjtMe0VI3I.woff) format('woff');
}
@font-face {
	font-family: 'Luckiest Guy';
	font-style: normal;
	font-weight: 400;
	src: local('Luckiest Guy'), local('LuckiestGuy-Regular'), url(http://themes.googleusercontent.com/static/fonts/luckiestguy/v3/5718gH8nDy3hFVihOpkY5KRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
	font-family: 'Fontdiner Swanky';
	font-style: normal;
	font-weight: 400;
	src: local('Fontdiner Swanky'), local('FontdinerSwanky'), url(http://themes.googleusercontent.com/static/fonts/fontdinerswanky/v3/8_GxIO5ixMtn5P6COsF3TmC-qdh9gY3gzw21ltIAGL8.woff) format('woff');
}
@font-face {
	font-family: 'Black Ops One';
	font-style: normal;
	font-weight: 400;
	src: local('Black Ops One'), local('BlackOpsOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/blackopsone/v4/2XW-DmDsGbDLE372KrMW1YkaQb-UsZVONjobs91YQtw.woff) format('woff');
}
@font-face {
	font-family: 'Caesar Dressing';
	font-style: normal;
	font-weight: 400;
	src: local('Caesar Dressing'), local('CaesarDressing-Regular'), url(http://themes.googleusercontent.com/static/fonts/caesardressing/v2/2T_WzBgE2Xz3FsyJMq34T7y37P2qBuXNAoKb6gHVWVo.woff) format('woff');
}
@font-face {
	font-family: 'Cabin Sketch';
	font-style: normal;
	font-weight: 700;
	src: local('CabinSketch Bold'), local('CabinSketch-Bold'), url(http://themes.googleusercontent.com/static/fonts/cabinsketch/v5/ki3SSN5HMOO0-IOLOj069BAPw1J91axKNXP_-QX9CC8.woff) format('woff');
}
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 700;
	src: local('Orbitron-Bold'), url(http://themes.googleusercontent.com/static/fonts/orbitron/v3/Y82YH_MJJWnsH2yUA5AuYbrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
	font-family: 'Flavors';
	font-style: normal;
	font-weight: 400;
	src: local('Flavors'), local('Flavors-Regular'), url(http://themes.googleusercontent.com/static/fonts/flavors/v2/jSbrz06biEb05xhrWE3rmwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
	font-family: 'Droid Sans Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Droid Sans Mono'), local('DroidSansMono'), url(http://themes.googleusercontent.com/static/fonts/droidsansmono/v4/ns-m2xQYezAtqh7ai59hJaH0X__W3S3MJL29bc5CWfs.woff) format('woff');
}
@font-face {
	font-family: 'Fredericka the Great';
	font-style: normal;
	font-weight: 400;
	src: local('Fredericka the Great'), local('FrederickatheGreat'), url(http://themes.googleusercontent.com/static/fonts/frederickathegreat/v2/7Es8Lxoku-e5eOZWpxw18uNtPus5Q24fzFZQPskWbXv3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}
html {
	background: #C9C9C9;
}
body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	height: 16em;
	width: 100em;
	margin-top: -8em;
	margin-left: -50em;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-box-shadow:  0 0 5em 6em rgba(255, 255, 255, 0.3);
	box-shadow:  0 0 5em 6em rgba(255, 255, 255, 0.3);
	text-align: center;
	font-family: 'Orbitron';
	color: black;
	text-shadow: 0.1em 0.1em 0.5em black;
	filter: dropshadow(color=#333333, offx=1, offy=1);
}
#wrapper label {
	display: inline-block;
}
#wrapper .h12 {
	display: inline-block;
}
#wrapper .h24 {
	display: none;
}
#wrapper .time {
	display: inline-block;
	margin: 0;
	font-size: 9em;
	line-height: 100%;
}
#wrapper .date {
	display: inline-block;
	margin: 0;
	font-size: 4em;
	line-height: 100%;
}
#wrapper .date label {
	margin-right: 0.5em;
}
/* double digit */
#wrapper .dd {
	width: 1.7em;
	text-align: center;
}
/* single digit */
#wrapper .sd {
	width: 0.4em;
	text-align: center;
}
/* 24hour mode */
#wrapper.h24 {
	height: 19em;
	margin-top: -9.5em;
}
#wrapper.h24 .time {
	font-size: 12em;
	line-height: 100%;
}
#wrapper.h24 .h12 {
	display: none;
}
#wrapper.h24 .h24 {
	display: inline-block;
}
/* no date mode */
#wrapper.nodate .date {
	display: none;
}
#wrapper.nodate .time {
	font-size: 12em;
	line-height: 1.4em;
}
/* 24hour no date mode */
#wrapper.nodate.h24 .time {
	font-size: 13em;
}
/* no week day mode */
#wrapper.noweekday #weekday {
	display: none;
}
#wrapper.noweekday .date {
	font-size: 5em;
}
/* control panel */
#control {
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	width: 7em;
	height: 7em;
	overflow: hidden;
	border-radius: 0 0 0 3em;
	background-color: white;
	opacity: 0.3;
	cursor: pointer;
}
#control img {
	position: absolute;
	bottom: 1em;
	left: 1em;
	width: 5em;
	height: 5em;
}
#control ul.settings {
	position: absolute;
	bottom: 6em;
	left: 4em;
	height: 10em;
	width: 16em;
	margin: 0;
	padding: 0;
	list-style: none;
	opacity: 0;
}
#control ul.settings li {
	float: left;
	clear: left;
	width: 100%;
	margin-top: 1em;
}
#control .setting_label {
	float: left;
	font-size: 1.7em;
	line-height: 100%;
}
#control .checkSlide {
	float: right;
}

#control:hover {
	opacity: 1;
	-webkit-box-shadow: 0 0 2em 0em rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 2em 0em rgba(255, 255, 255, 0.3);
}
#control.active {
	opacity: 1;
	width: 23em;
	height: 17em;
	-webkit-box-shadow: 0 0 2em 0em rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 2em 0em rgba(255, 255, 255, 0.3);
	cursor: default;
}
#control.active ul.settings {
	opacity: 1;
}
/* check slide class */
.checkSlide {
	display: inline-block;
	position: relative;
	height: 2em;
	width: 4em;
	overflow: hidden;
	background-image: url('../img/switch_background.png');
	background-size: 4em 2em;
	background-repeat: no-repeat;
}
.checkSlide .toggler {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	border: 0;
	padding: 0;
	height: 2em;
	width: 2em;
	background-color: transparent;
	background-image: url('../img/switch_toggler.png');
	background-size: 2em 2em;
	background-repeat: no-repeat;
}
.checkSlide .toggler.on {
	left: 2em;
}
/* debug */
body.debug #wrapper .time,
body.debug #wrapper .date,
body.debug #control ul.settings {
	border: 1px dotted red;
}
/* to-do list */
#to_do {
	font-size: 12px;
	color: black;
}
#to_do .done {
	text-decoration: line-through;
	color: gray;
}
#to_do .done:hover {
	text-decoration: none;
	color: black;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	  `contenteditable` attribute is included anywhere else in the document.
 *	  Otherwise it causes space to appear at the top and bottom of elements
 *	  that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	  `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min-resolution: 144dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow:none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
