html {
  background-color: gray;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.--flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.--flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.--flex-row > *,
.--flex-col > *, {
  flex: 0 0 auto;
}

.--flex-row > .--flex__fill,
.--flex-col > .--flex__fill {
  flex: 1 1 0;
}
